# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TrainingCPlusPlus/classes/Debug
/TrainingCPlusPlus/.vs/Formation/v15
/.vs/TrainingCPlusPlus/v15/.suo
/TrainingCPlusPlus/Debug
/TrainingCPlusPlus/Formation/Debug
/.vs
/TrainingCPlusPlus/max/Debug
/TrainingCPlusPlus/templates/Debug
/TrainingCPlusPlus/xml/Debug
/TrainingCPlusPlus/x64/Debug
/TrainingCPlusPlus/xml/x64/Debug
/TrainingCPlusPlus/Formation/x64/Debug
